/**
 * Global declarations
 * ------------------------------------------
 */

body {
	color: #7B8084;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

a, a:visited {
	color: #7B8084;
	text-decoration: none;	
}

a:hover {
	color: #44BBFF;
}

a:active {
	color: #C36;
}

/**
 * Common styles
 * ------------------------------------------
 */

a.highlight {
	color: #44BBFF;
	text-decoration: none;	
}

a.highlight:active {
	color: #C36;
}

section.item1 h2, section.item5 h2, section.item9 h2, section.item13 h2, section.item17 h2, section.item21 h2, section.item25 h2 {
	background: #FDEBF3;
	border-left: 4px solid #EDDBE3;
	color: #F49AC1;
	padding-left: 5px;
}

section.item2 h2, section.item6 h2, section.item10 h2, section.item14 h2, section.item18 h2, section.item22 h2, section.item26 h2 {
	background: #FDF0D5;
	border-left: 4px solid #FCE4B3;
	color: #F7B42C;
	padding-left: 5px;
}

section.item3 h2, section.item7 h2, section.item11 h2, section.item15 h2, section.item19 h2, section.item23 h2, section.item27 h2 {
	background: #E9F7FB;
	border-left: 4px solid #D7F0F8;
	color: #90D5EC;
	padding-left: 5px;
}

section.item4 h2, section.item8 h2, section.item12 h2, section.item16 h2, section.item20 h2, section.item24 h2, section.item28 h2 {
	background: #EEF6DC;
	border-left: 4px solid #E0EFC0;
	color: #AAD450;
	padding-left: 5px;
}

/**
 * Login and sign-up panel
 * ------------------------------------------
 */

section.login {
	background: url(../images/step_1.png) no-repeat bottom left #000000;
	clear: both;
	display: none;
	font-size: 12px;
	height: 305px;
}

section.login div.design {
	background: url(../images/step_2.png) no-repeat bottom right;
	height: 100%;
	padding: 10px 10% 0px 10%;
	text-align: center;
}

section.login div.design div.login {
	display: inline-block;
	height: 285px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	vertical-align: top;
	width: 250px;
}

section.login div.design div.login h2 {
	color: #F49AC1;
	font-size: 14px;
	padding-left: 93px;
}

section.login div.design span.toggle {
	background: url(../images/login_register.png) no-repeat center;
	background-position: -120px 0px;
	display: inline-block;
	height: 240px;
	margin-right: 47px;
	width: 65px;
}

section.login div.design div.register {
	display: inline-block;
	height: 285px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
	text-align: left;
	width: 250px;
}

section.login div.design div.register h2 {
	color: #AAD450;
	font-size: 14px;
	padding-left: 80px;
}

/**
 * Header bar
 * ------------------------------------------
 */

nav.main {
	background: #F5F5F5;
	background-image: url(../images/ribbon.png);
	background-image: url(../images/ribbon.png), linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -ms-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -o-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -webkit-gradient(linear, top, bottom, from(#FAFAFA), to(#F5F5F5));
	background-image: url(../images/ribbon.png), -webkit-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-repeat: repeat-x;
	border-bottom: 1px solid #D8DDE1;
	display: block;
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FAFAFA, EndColorStr=#F5F5F5)";
	padding-top: 19px;
	position: relative;
	width: 100%;
}

nav.main ul.nav {
	font-weight: bolder;
	margin: 0px;
	padding: 0px 10% 0px 10%;
}

nav.main ul.nav li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
}

nav.main ul.nav li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
}

nav.main ul.nav li a.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	padding-left: 17px;
}

nav.main ul.nav li a.locked:hover {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -29px;
	padding-left: 17px;
}

nav.main ul.nav li a.locked:active {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -58px;
	padding-left: 17px;
}

nav.main ul.nav li.logo {
	padding: 0px 10px 0px 0px;
}

/**
 * Breadcrumb
 * ------------------------------------------
 */
 
nav.main ul.breadcrumb {
	border-top: 1px solid #D8DDE1;
	background-color: #FCFCFC;
	font-size: 11px;
	margin: 0px;
	padding: 0px 0px 0px 10%;
}

nav.main ul.breadcrumb li:first-child {
	background: url(../images/home.png) no-repeat;
	padding-left: 20px;
}

nav.main ul.breadcrumb li.noLink:first-child {
	background: url(../images/home.png) no-repeat;
	background-position: 0px -13px; 
	padding-left: 20px;
}

nav.main ul.breadcrumb li {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
}

nav.main ul.breadcrumb li a {
	background: url(../images/divider.png) no-repeat right;
	color: #44BBFF;
	padding-bottom: 5px;
	padding-right: 12px;
	padding-top: 5px;
}

/**
 * Book exchange navigation
 * ------------------------------------------
 */
 
nav.main ul.exchange {
	font-size: 0px; /* Removes the effect of whitespace between the <li> tags */
	list-style: none;
	margin: 0px;
	padding: 0px;
	position: absolute;
	right: 10%;
	top: 100px;
}

nav.main ul.exchange li {
	border-right: 1px solid #D8DDE1;
	color: #747474;
	cursor: pointer;
	display: inline;
	font-size: 16px;
	font-weight: bolder;
	margin: 0px;
	padding: 3px 10px 2px 10px;
}

nav.main ul.exchange li a {
	color: #747474;
}

nav.main ul.exchange li:first-child {
	border-left: 1px solid #D8DDE1;
	padding-left: 10px;
}

nav.main ul.exchange li:hover {
	background: #EEEEEE;
}

nav.main ul.exchange li.myAccount {
	background: #EEF6DC;
	color: #AAD450;
}

nav.main ul.exchange li.myAccount:hover {
	background: #EEEEEE;
}

nav.main ul.exchange li.myAccount a {
	color: #AAD450;
}

nav.main ul.exchange li.admin {
	background: #FDEBF3;
	color: #F49AC1;
}

nav.main ul.exchange li.admin:hover {
	background: #EEEEEE;
}

nav.main ul.exchange li.admin a {
	color: #F49AC1;
}

/**
 * Search panel
 * ------------------------------------------
 */
 
nav.main section.search {
	position: absolute;
	right: 10%;
	top: 43px;
	z-index: 2;
}

nav.main section.search input {
	background: url(../images/search_placeholder.png) no-repeat;
	background-position: 5px 4px;
}

nav.main section.search input.noBackground {
	background: none;
}

nav.main section.search span.performSearch {
	background: url(../images/search.png) no-repeat;
	cursor: pointer;
	display: block;
	height: 12px;
	position: absolute;
	right: 7px;
	top: 8px;
	width: 14px;
}

nav.main section.search span.performSearch:hover {
	background-position: 0px -12px;
}

ul.ui-autocomplete li a {
	cursor: pointer;
	height: 57px;
	position: relative;
}

ul.ui-autocomplete li a img {
	max-height: 50px;
}

ul.ui-autocomplete li a span.title {
	display: block;
	font-size: 13px;
	font-weight: bold;
	max-width: 130px;
	overflow: hidden;
	left: 50px;
	padding-top: 0px;
	position: absolute;
	text-overflow: ellipsis;
	top: 0px;
	white-space: nowrap;
}

ul.ui-autocomplete li span.details {
	font-size: 10px;
	max-width: 170px;
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.ui-autocomplete li a span.author {
	left: 50px;
	max-width: 130px;
	position: absolute;
	top: 12px;
}

ul.ui-autocomplete li a span.total {
	left: 50px;
	position: absolute;
	top: 37px;
}

/**
 * Login flag
 * ------------------------------------------
 */

nav.main section.flag {
	position: absolute;
	right: 6%;
	top: 0px;
}

nav.main section.flag img {
	cursor: pointer;
}

/**
 * Main content
 * ------------------------------------------
 */

h1.title {
	font-size: 24px;
	margin-bottom: 0px;
	padding-left: 10%;
}

section.body {
	padding: 10px 0px 10px 10%;
	width: 80%;
}

section.body.left {
	float: left;
	padding: 10px 0px 10px 10%;
	width: 54%;
}

section.body.right {
	float: right;
	padding: 10px 10% 10px 0px;
	width: 54%;
}

/**
 * Sidebar
 * ------------------------------------------
 */

aside.sidebar.left {
	float: left;
	font-size: 13px;
	padding: 10px 0px 10px 10%;
	width: 23%;
}

aside.sidebar.right {
	float: right;
	font-size: 13px;
	padding: 10px 10% 10px 0px;
	width: 23%;
}

/**
 * Navigation within the sidebar
 * ------------------------------------------
 */

aside.sidebar section.menu ul {
	padding-left: 17px;
} 

aside.sidebar section.menu ul li {
	border-bottom: 1px solid #D8DDE1;
	color: #44BBFF;
	list-style-type: square;
}

aside.sidebar section.menu ul li:hover {
	border-bottom: 1px solid #44BBFF;
}

aside.sidebar section.menu ul li:active {
	border-bottom: 1px solid #C36;
	color: #C36;
}

aside.sidebar section.menu ul li a {
	display: block;
	padding: 5px 0px 5px 0px;
}

aside.sidebar section.menu ul li.up {
	color: #C36;
}

aside.sidebar section.menu ul li.up:hover {
	color: #44BBFF;
}

aside.sidebar section.menu ul li.up:active {
	color: #C36;
}


/**
 * Footer common styles
 * ------------------------------------------
 */

footer section.main {
	background: #F0F1F4;
	border-bottom: 1px solid #D8DDE1;
	border-top: 1px solid #D8DDE1;
	overflow: hidden;
	padding: 10px 10% 10px 10%;
	width: 80%;
}

footer section.main nav a {
	color: #000000;
	font-size: 14px;
}

footer section.main nav a:hover {
	color: #44BBFF;
}

footer section.main nav a:active {
	color: #C36;
}

/**
 * Footer link list
 * ------------------------------------------
 */

footer section.main nav ul {
	color: #000000;
	display: table;
	float: left;
	list-style: none;
	padding-left: 0px;	
	table-layout: fixed;
	width: 75%;
}

footer section.main nav ul li {
	display: table-cell;
	vertical-align: top;
	width: auto;
}

footer section.main nav ul li ul {
	padding-left: 0px;	
}

footer section.main nav ul li ul li {
	display: list-item;
	padding: 5px 0px 5px 0px;
}

footer section.main nav ul li ul li:first-child {
	font-weight: bolder;
	padding: 0px 0px 15px 0px;
}

footer section.main nav ul li ul li a.item1, footer section.main nav ul li ul li a.item5, footer section.main nav ul li ul li a.item9, footer section.main nav ul li ul li a.item13, footer section.main nav ul li ul li a.item17, footer section.main nav ul li ul li a.item21, footer section.main nav ul li ul li a.item25 {
	color: #F27490;
	font-size: 16px;
}

footer section.main nav ul li ul li a.item1.locked, footer section.main nav ul li ul li a.item5.locked, footer section.main nav ul li ul li a.item9.locked, footer section.main nav ul li ul li a.item13.locked, footer section.main nav ul li ul li a.item17.locked, footer section.main nav ul li ul li a.item21.locked, footer section.main nav ul li ul li a.item25.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -87px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.item1.locked:hover, footer section.main nav ul li ul li a.item5.locked:hover, footer section.main nav ul li ul li a.item9.locked:hover, footer section.main nav ul li ul li a.item13.locked:hover, footer section.main nav ul li ul li a.item17.locked:hover, footer section.main nav ul li ul li a.item21.locked:hover, footer section.main nav ul li ul li a.item25.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.item1.locked:active, footer section.main nav ul li ul li a.item5.locked:active, footer section.main nav ul li ul li a.item9.locked:active, footer section.main nav ul li ul li a.item13.locked:active, footer section.main nav ul li ul li a.item17.locked:active, footer section.main nav ul li ul li a.item21.locked:active, footer section.main nav ul li ul li a.item25.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.item2, footer section.main nav ul li ul li a.item6, footer section.main nav ul li ul li a.item10, footer section.main nav ul li ul li a.item14, footer section.main nav ul li ul li a.item18, footer section.main nav ul li ul li a.item22, footer section.main nav ul li ul li a.item26 {
	color: #F7B42C;
	font-size: 16px;
}

footer section.main nav ul li ul li a.item2.locked, footer section.main nav ul li ul li a.item6.locked, footer section.main nav ul li ul li a.item10.locked, footer section.main nav ul li ul li a.item14.locked, footer section.main nav ul li ul li a.item18.locked, footer section.main nav ul li ul li a.item22.locked, footer section.main nav ul li ul li a.item26.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -116px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.item2.locked:hover, footer section.main nav ul li ul li a.item6.locked:hover, footer section.main nav ul li ul li a.item10.locked:hover, footer section.main nav ul li ul li a.item14.locked:hover, footer section.main nav ul li ul li a.item18.locked:hover, footer section.main nav ul li ul li a.item22.locked:hover, footer section.main nav ul li ul li a.item26.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.item2.locked:active, footer section.main nav ul li ul li a.item6.locked:active, footer section.main nav ul li ul li a.item10.locked:active, footer section.main nav ul li ul li a.item14.locked:active, footer section.main nav ul li ul li a.item18.locked:active, footer section.main nav ul li ul li a.item22.locked:active, footer section.main nav ul li ul li a.item26.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.item3, footer section.main nav ul li ul li a.item7, footer section.main nav ul li ul li a.item11, footer section.main nav ul li ul li a.item15, footer section.main nav ul li ul li a.item19, footer section.main nav ul li ul li a.item23, footer section.main nav ul li ul li a.item27 {
	color: #4BF;
	font-size: 16px;
}

footer section.main nav ul li ul li a.item3.locked, footer section.main nav ul li ul li a.item7.locked, footer section.main nav ul li ul li a.item11.locked, footer section.main nav ul li ul li a.item15.locked, footer section.main nav ul li ul li a.item19.locked, footer section.main nav ul li ul li a.item23.locked, footer section.main nav ul li ul li a.item27.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -29px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.item3.locked:hover, footer section.main nav ul li ul li a.item7.locked:hover, footer section.main nav ul li ul li a.item11.locked:hover, footer section.main nav ul li ul li a.item15.locked:hover, footer section.main nav ul li ul li a.item19.locked:hover, footer section.main nav ul li ul li a.item23.locked:hover, footer section.main nav ul li ul li a.item27.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.item3.locked:active, footer section.main nav ul li ul li a.item7.locked:active, footer section.main nav ul li ul li a.item11.locked:active, footer section.main nav ul li ul li a.item15.locked:active, footer section.main nav ul li ul li a.item19.locked:active, footer section.main nav ul li ul li a.item23.locked:active, footer section.main nav ul li ul li a.item27.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.item4, footer section.main nav ul li ul li a.item8, footer section.main nav ul li ul li a.item12, footer section.main nav ul li ul li a.item16, footer section.main nav ul li ul li a.item20, footer section.main nav ul li ul li a.item24, footer section.main nav ul li ul li a.item28 {
	color: #AAD450;
	font-size: 16px;
}

footer section.main nav ul li ul li a.item4.locked, footer section.main nav ul li ul li a.item8.locked, footer section.main nav ul li ul li a.item12.locked, footer section.main nav ul li ul li a.item16.locked, footer section.main nav ul li ul li a.item20.locked, footer section.main nav ul li ul li a.item24.locked, footer section.main nav ul li ul li a.item28.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -145px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.item4.locked:hover, footer section.main nav ul li ul li a.item8.locked:hover, footer section.main nav ul li ul li a.item12.locked:hover, footer section.main nav ul li ul li a.item16.locked:hover, footer section.main nav ul li ul li a.item20.locked:hover, footer section.main nav ul li ul li a.item24.locked:hover, footer section.main nav ul li ul li a.item28.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.item4.locked:active, footer section.main nav ul li ul li a.item8.locked:active, footer section.main nav ul li ul li a.item12.locked:active, footer section.main nav ul li ul li a.item16.locked:active, footer section.main nav ul li ul li a.item20.locked:active, footer section.main nav ul li ul li a.item24.locked:active, footer section.main nav ul li ul li a.item28.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a:hover {
	color: #44BBFF;
}

footer section.main nav ul li ul li a:active {
	color: #C36;
}

footer section.main nav ul li ul li a.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -172px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.locked:hover {
	background-position: 0px -201px;
}

footer section.main nav ul li ul li a.locked:active {
	background-position: 0px -230px;
}

/**
 * About us box
 * ------------------------------------------
 */

footer section.main section {
	background: #FBFBFC;
	border: 1px solid #D8DDE1;
	float: right;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	width: 20%;
}

footer section.main section h2 {
	margin: 0px;
	padding: 0px;
}

footer section.main section p.networking {
	margin-bottom: 0px;
}

/**
 * Absolute footer
 * ------------------------------------------
 */

footer section.footer {
	font-size: 12px;
	padding: 0px 10% 0px 10%;
}

footer section.footer p {
	color: #999999;
	float: left;
}

footer section.footer ul {
	float: right;
	list-style: none;
}

footer section.footer ul li {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}

footer section.footer ul li:last-child {
	padding-right: 0px;
}