<Files ~ "\.(php)$">
	order allow,deny
	allow from all
</Files>
<Files ~ "\.(htaccess)$">
	order deny,allow
	deny from all
</Files>

ErrorDocument 403 /admin/includes/access_deny.php?error=403
ErrorDocument 404 /admin/includes/access_deny.php?error=404

