/**
 * Global declarations
 * ------------------------------------
*/

body {
	font-size: 13px;
}

.hidden {
	display: none;
}

a.smallDelete, span.smallDelete {
	background: url(../../images/admin_icons/application_icons.png) no-repeat;
	background-position: -81px -36px;
	cursor: pointer;
	padding: 0px 16px 0px 0px;
}

/*
 Google UI Buttons
 
 Example usage:
 <div class="button">Button</div>
 <div class="button blue">Button</div>
 <div class="button red">Button</div>
 <div class="button green">Button</div>
 <button class="button">Button</button>
 <button class="button blue">Button</button>
 <button class="button red">Button</button>
 <button class="button green">Button</button>
*/

div.button {
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	color: #444444;
	cursor: default;
	display: inline-block;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 27px;
	line-height: 27px;
	margin-right: 16px;
	min-width: 54px;
	outline: 0 none;
	padding: 0 8px;
	position: relative;
	text-align: center;
}

div.button:hover {
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333333;
}

div.button:active {
	/* No definitions for button base */
}

button.button, input[type=submit].button, input[type=reset].button, input[type=button].button {
	-moz-user-select: none;
	background-color: #F5F5F5;
	background-image: -moz-linear-gradient(center top, #F5F5F5, #F1F1F1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px 2px 2px 2px;
	color: #444444;
	cursor: default;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	height: 29px;
	min-width: 54px;
	padding: 0 8px;
}

button.button:hover, input[type=submit].button:hover, input[type=reset].button:hover, input[type=button].button:hover {
	background-color: #F8F8F8;
	background-image: -moz-linear-gradient(center top, #F8F8F8, #F1F1F1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

button.button:active, input[type=submit].button:active, input[type=reset].button:active, input[type=button].button:active {
	/* No definitions for button base */
}

div.button.blue, button.button.blue, input[type=submit].button.blue, input[type=reset].button.blue, input[type=button].button.blue {
	background-color: #4D90FE;
	background-image: -moz-linear-gradient(center top, #4D90FE, #4787ED);
	border: 1px solid #3079ED;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

div.button.blue:hover, button.button.blue:hover, input[type=submit].button.blue:hover, input[type=reset].button.blue:hover, input[type=button].button.blue:hover {
	background-color: #357AE8;
	background-image: -moz-linear-gradient(center top, #4D90FE, #357AE8);
	border: 1px solid #2F5BB7;
}

div.button.blue:active, button.button.blue:active, input[type=submit].button:active, input[type=reset].button:active, input[type=button].button:active {
	box-shadow: 0 0 0 1px #FFFFFF inset;
	outline: medium none;
}

div.button.red, button.button.red, input[type=submit].button.red, input[type=reset].button.red, input[type=button].button.red {
	background-color: #D14836;
	background-image: -moz-linear-gradient(center top, #DD4B39, #D14836);
	border: 1px solid transparent;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

div.button.red:hover, button.button.red:hover, input[type=submit].button.red:hover, input[type=reset].button.red:hover, input[type=button].button.red:hover {
	-moz-border-bottom-colors: none;
	-moz-border-image: none;
	-moz-border-left-colors: none;
	-moz-border-right-colors: none;
	-moz-border-top-colors: none;
	background-color: #C53727;
	background-image: -moz-linear-gradient(center top, #DD4B39, #C53727);
	border-color: #B0281A #B0281A #AF301F;
	border-style: solid;
	border-width: 1px;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

div.button.red:active, button.button.red:active, input[type=submit].button.red:active, input[type=reset].button.red:active, input[type=button].button.red:active {
	border: 1px solid transparent;
	box-shadow: none;
	outline:0 none transparent;
}

div.button.green, button.button.green, input[type=submit].button.green, input[type=reset].button.green, input[type=button].button.green {
	background-color: #3D9400;
	background-image: -moz-linear-gradient(center top, #3D9400, #3D9400);
	border: 1px solid #29691D;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}

div.button.green:hover, button.button.green:hover, input[type=submit].button.green:hover, input[type=reset].button.green:hover, input[type=button].button.gree:hovern {
	background-color: #368200;
	background-image: -moz-linear-gradient(center top, #3D9400, #368200);
	border: 1px solid #2D6200;
	text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}

div.button.green:active, button.button.green:active, input[type=submit].button.green:active, input[type=reset].button.green:active, input[type=button].button.green:active {
	border: 1px solid transparent;
	box-shadow: none;
	outline: 0 none transparent;
}

/**
 * Dasboard Item Styles
 * ------------------------------------
*/

section.dashboardItem {
	padding: 0px 0px 12px 60px;
}

section.dashboardItem h2 {
	color: #357AE8;
	font-size: 16px;
}

/**
 * Dasboard Announcement
 * ------------------------------------
*/

section.dashboardItem.announcement {
	background: url(../../images/admin_icons/application_icons.png) no-repeat;
	background-position: -236px 0px;
}

/**
 * Dasboard Forum
 * ------------------------------------
*/

section.dashboardItem.forum {
	background: url(../../images/admin_icons/application_icons.png) no-repeat;
	background-position: 0px -246px;
}

section.dashboardItem.forum textarea {
	height: 75px;
	margin-top: 10px;
	outline: none;
	resize: none;
	width: 450px;
}

section.dashboardItem.forum textarea:focus {
	outline: 1px solid #357AE8;
}

section.dashboardItem.forum div div {
	border-left: 3px solid #CCCCCC;
	margin: 5px 0px 5px 0px;
	padding: 3px 0px 3px 7px;
}

section.dashboardItem.forum div div:hover {
	border-left: 3px solid #357AE8;
}

section.dashboardItem.forum div div a.user, section.dashboardItem.forum div span.user {
	font-size: 11px;
	font-weight: bolder;
}

section.dashboardItem.forum div div span.date {
	font-size: 10px;
}

/**
 * Dasboard Poll
 * ------------------------------------
*/

section.dashboardItem.poll {
	background: url(../../images/admin_icons/application_icons.png) no-repeat;
	background-position: -61px -184px;
}