/**
 * Book exchange main page header
 * ------------------------------------
*/

section.header div.tools {
	background: #3D3D3D;
	padding: 25px 25px 20px 25px;
	width: 200px;
}

section.header div.tools button.openLogin {
	width: 100%;
}

div.tools h2.search {
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px 0px 5px 0px;
}

section.header div.tools input {
	width: 168px;
}

section.header div.tools span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

section.header div.tools span.expand:hover {
	background-position: 0px -19px;
}

section.header div.tools span.step {
	color: #FFFFFF;
	display: inline-block;
	font-size: 14px;
	padding-top: 13px;
	vertical-align: top;
}

section.header div.tools div.dropdownWrapper {
	padding-top: 10px;
}

section.header div.tools input.submit {
	width: auto;
}

section.header div.tools div.controls {
	clear: both;
	margin: 10px 0px 10px 0px;
	overflow: hidden;
	width: 100%;
}

section.header div.tools div.controls button {
	margin-top: 6px;
}

section.header div.linkbar {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 5px solid #3D3D3D;
}

/**
 * Category menu listing
 * ------------------------------------
*/

aside.categories {
	border-right: 4px double #EDEDED;
	width: 246px;
}

aside.categories h2 {
	font-size: 21px;
	font-weight: lighter;
	margin-bottom: 5px;
}

aside.categories button {
	font-size: 14px;
	width: 190px;
}

aside.categories ul {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}

aside.categories ul li {
	font-weight: bold;
	padding: 13px 0px 13px 0px;
	border-bottom: 1px solid #EDEDED;
	vertical-align: top;
}

aside.categories ul li a.name {
	display: block;
	vertical-align: top;
}

aside.categories ul li a.name span.icon {
	display: inline-block;
	height: 34px;
	margin: 0px 7px 0px -50px;
	padding: 6px 5px 0px 0px;
	text-align: right;
	width: 85px;
}

aside.categories ul li a.name span.text {
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}