/**
 * Global module styles
 * ------------------------------------
*/

a.buttonLink, span.buttonLink {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11px;
	margin-top: 17px;
	max-width: 187px;
	padding: 3px 1px 3px 1px;
	vertical-align: top;
	width: auto;
}

a.buttonLink:active {
	color: #FFFFFF;
}

a.buttonLink:hover {
	color: #FFFFFF;
}

a.buttonLink:visited {
	color: #FFFFFF;
}

a.buttonLink span, span.buttonLink span {
	border: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
}

a.buttonLink span:hover {
	background: #33CCFF;
}

span.title, a.title {
	display: block;
	font-size: 13px;
	font-weight: bold;
	max-width: 130px;
	overflow: hidden;
	padding-top: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

span.details {
	font-size: 10px;
	max-width: 170px;
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	-moz-box-shadow: 0 0 10px #000000;
	-ms-box-shadow: 0 0 10px #000000;
	-o-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
    background-color: #000000;
    border: 1px solid #FFFFFF;
	box-shadow: 0 0 10px #000000;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
    padding: 10px 15px;
    width: 200px;
    text-align: left;
	z-index: 10;
}

.success {
	background: #00FF66;
	border: 1px solid #003300;
	border-radius: 5px;
	color: #000000;
	display: inline-block;
	font-size: 13px;
	font-weight: bolder;
	margin: 0px auto 0px auto;
	padding: 5px 25px 5px 25px;
	position: absolute;
	top: 45px;
}
/**
 * jQuery UI auto-suggest list styles
 * ------------------------------------
*/

ul.ui-autocomplete li a {
	cursor: pointer;
	height: 57px;
	position: relative;
}

ul.ui-autocomplete li a img {
	max-height: 50px;
}

ul.ui-autocomplete li a span.title {
	left: 50px;
	padding-top: 0px;
	position: absolute;
	top: 0px;
}

ul.ui-autocomplete li a span.author {
	left: 50px;
	max-width: 130px;
	position: absolute;
	top: 12px;
}

ul.ui-autocomplete li a span.total {
	left: 50px;
	position: absolute;
	top: 37px;
}

/**
 * Book exchange category flyout
 * ------------------------------------
*/

div.menuWrapper {
	display: inline-block;
	float: left;
	height: 42px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 200px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
}

ul.categoryFly {
	background: #FFFFFF;
	border: 1px solid #000000;
	color: #7B8084;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
	padding: 0px;
	width: 198px;
}

ul.categoryFly li {
	display: table-cell;
	vertical-align: top;
}

ul.categoryFly li ul {
	display: inline-block;
	margin: 0px;
	list-style: none;
	padding: 0px;
}

ul.categoryFly li ul li {
	cursor: pointer;
	display: none;
}

ul.categoryFly li ul li.selected {
	display: list-item;
}

ul.categoryFly li ul li span.band {
	border-left-style: solid;
	border-left-width: 50px;
	display: block;
	height: 40px;
	width: 200px;
}

ul.categoryFly li ul li span.band span.icon {
	background-repeat: no-repeat;
	background-position: 9px 6px;
	display: block;
	height: 40px;
	margin-left: -50px;
	padding: 11px 0px 0px 55px;
	width: 200px;
}

ul.categoryFly li ul li.all span.band span.icon {
	background-position: 9px 4px;
}

ul.categoryFly.open li ul li.selected {
	background: #BADFF5;
	display: list-item;
}

ul.categoryFly.open li ul li:hover {
	background: #EEEEEE;
}

/**
 * Purchase book dialog
 * ------------------------------------
*/

section.purchase div.loading {
	color: #CCCCCC;
	font-size: 36px;
	padding: 60px 20px 45px 20px;
	text-align: center;
}

section.purchase aside.bookInfo {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	padding-right: 15px;
	width: 250px;
}

section.purchase aside.bookInfo div.cover {
	padding-bottom: 25px;
	text-align: center;
}

section.purchase aside.bookInfo div.cover img {
	max-height: 200px;
}

section.purchase aside.bookInfo span.previewTitle {
	color: #333333;
	display: block;
	font-weight: bold;
	padding-bottom: 10px;
}

section.purchase aside.bookInfo span.previewDetails {
	color: #7B8084;
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
}

section.purchase section.main {
	border-left: 4px double #EDEDED;
	margin-left: 265px;
	padding-left: 15px;
	width: auto;
}

/**
 * Unordered list of book categories
 * ------------------------------------
*/

ul.listing {
	list-style: none;
	padding: 0px;
}

ul.listing li {
	display:inline-block;
	padding-bottom: 15px;
	width: 320px;
}

ul.listing li img {
	display:inline;
	float: left;
}

ul.listing li a.title {
	color: #3D3D3D;
	display: inline-block;
	font-weight: bold;
	padding: 7px 0px 0px 5px;
	vertical-align: top;
}

ul.listing li span.description {
	display: inline-block;
	float: right;
	font-size: 11px;
	padding-top: 7px;
	vertical-align: top;
	width: 187px;
}

ul.listing li a.buttonLink, ul.listing li span.buttonLink {
	float: left;
	margin-left: 4px;
}

/**
 * Category header setup
 * ------------------------------------
*/

header.styled {
	border-top-style: solid;
	border-top-width: 5px;
	margin-top: -10px;
}

header.styled h1 {
	border-style: solid;
	border-width: 5px;
	color: #3D3D3D;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 10px 10px 300px;
}

header.styled.all {
	border-top-color: #000000;
}

header.styled.all h1 {
	background: url(../images/icons/book.png) no-repeat #5C5C5C;
	background-position: 7px 6px;
	border-color: #3D3D3D;
	color: #FFFFFF;
	padding-left: 70px;
}

header.styled.all h2 {
	color: #FFFFFF;
}

header.styled h2 {
	color: #3D3D3D;
	font-weight: lighter;
	margin: 17px 0px 15px 0px;
	position: absolute;
	right: 11.5%;
	top: 128px;
}

/**
 * Category information sidebar
 * ------------------------------------
*/

aside.info {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	width: 290px;
	z-index: 2;
}

aside.info img.icon {
	background: #3D3D3D;
	margin: -45px 0px 0px 12px;
	padding: 10px 7px 0px 7px;
	z-index: 500;
}

aside.info h2 {
	font-weight: lighter;
}

aside.info form span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

aside.info form span.expand:hover {
	background-position: 0px -19px;
}

aside.info form div.controls {
	padding: 7px 0px 7px 0px;
}

aside.info form div.controls span.step {
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	vertical-align: top;
}

aside.info > ul {
	list-style: none;
	padding-left: 2px;
}

aside.info > ul li {
	clear: both;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

aside.info > ul li img {
	display: inline;
	float: left;
	max-width: 60px;
	padding-right: 5px;
}

aside.info > ul li a.title {
	display: block;
	max-width: 200px;
	padding-top: 0px;
	width: 200px;
}

aside.info > ul li span.details {
	display: block;
	max-width: 200px;
	width: 200px;
}

aside.info ul.moreListings {
	padding-left: 10px;
}

aside.info ul.moreListings li a {
	display: block;
	width: 100%;
}

aside.info ul.moreListings li a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 3px;
}

/**
 * Main cateogry listing content
 * ------------------------------------
*/

section.listing {
	border-left: 4px double #EDEDED;
	margin-left: 290px;
	padding-left: 15px;
	width: auto;
}

section.listing article.description {
	border-bottom: 4px double #EDEDED;
	margin-left: -15px;
	padding: 0px 0px 7px 15px;
}

section.listing article.description section.article {
	max-height: 350px;
	overflow: hidden;
	position: relative;
}

section.listing article.description section.article.loading {
	background: url(../images/icons/loading.gif) no-repeat center;
	height: 50px;
}

section.listing article.description section.article::after {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    bottom: 0;
    content: '';
	height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

section.listing article.description a.buttonLink {
	float: right;
	margin-top: 5px;
}

section.listing article.description section.disclaimer {
	font-size: 10px;
	padding-top: 35px;
}

/**
 * Book listing by class and section 
 * letter
 * ------------------------------------
*/

section.listing section.empty {
	font-weight: bolder;
	padding: 30px 20px 45px 20px;
	text-align: center;
}

section.listing section.books section.courses h2 {
	font-weight: lighter;
	margin: 30px 0px 5px 0px;
}

section.listing section.books section.courses ul {
	display: block;
	list-style: none;
	min-height: 150px;
	padding: 5px 0px 5px 0px;
	width: 100%;
}
section.listing section.books section.courses ul li {
	display: table-cell;
	height: 100%;
	max-width: 130px;
	padding: 0px 20px 0px 15px;
	vertical-align: top;
}

section.listing section.books section.courses ul li:first-child {
	border-right: 1px solid #999999;
	font-weight: bold;
	height: 100%;
	padding-right: 0px;
	width: 30px;
}

section.listing section.books section.courses ul li img {
	display: block;
	margin: 0px;
	max-width: 100px;
}

section.listing section.books section.courses ul li span.details {
	max-width: 130px;
}

section.listing section.books section.empty {
	height: 200px;
}