/**
 * Global module styles
 * ------------------------------------
*/

a.buttonLink, span.buttonLink {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11px;
	margin-top: 17px;
	max-width: 187px;
	padding: 3px 1px 3px 1px;
	vertical-align: top;
	width: auto;
}

a.buttonLink:active {
	color: #FFFFFF;
}

a.buttonLink:hover {
	color: #FFFFFF;
}

a.buttonLink:visited {
	color: #FFFFFF;
}

a.buttonLink span, span.buttonLink span {
	border: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
}

a.buttonLink span:hover {
	background: #33CCFF;
}

span.title, a.title {
	display: block;
	font-size: 13px;
	font-weight: bold;
	max-width: 130px;
	overflow: hidden;
	padding-top: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

span.details {
	display: block;
	font-size: 10px;
	max-width: 170px;
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	-moz-box-shadow: 0 0 10px #000000;
	-ms-box-shadow: 0 0 10px #000000;
	-o-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
    background-color: #000000;
    border: 1px solid #FFFFFF;
	box-shadow: 0 0 10px #000000;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
    padding: 10px 15px;
    width: 200px;
    text-align: left;
	z-index: 10;
}

.error {
	-moz-box-shadow: 0 0 15px #FF0000;
	-ms-box-shadow: 0 0 15px #FF0000;
	-o-box-shadow: 0 0 15px #FF0000;
	-webkit-box-shadow: 0 0 15px #FF0000;
	background: #FF6666;
	border: 1px solid #FF0000;
	border-radius: 5px;
	box-shadow: 0 0 15px #FF0000;
	color: #FFFFFF;
	display: inline-block;
	font-size: 13px;
	font-weight: bolder;
	margin: 0px auto 0px auto;
	padding: 5px 25px 5px 25px;
	position: fixed;
	top: 45px;
	z-index: 5;
}

.message {
	-moz-box-shadow: 0 0 15px #000000;
	-ms-box-shadow: 0 0 15px #000000;
	-o-box-shadow: 0 0 15px #000000;
	-webkit-box-shadow: 0 0 15px #000000;
	background: #CCCCCC;
	border: 1px solid #000000;
	border-radius: 5px;
	box-shadow: 0 0 15px #000000;
	color: #000000;
	display: inline-block;
	font-size: 13px;
	font-weight: bolder;
	margin: 0px auto 0px auto;
	padding: 5px 25px 5px 25px;
	position: fixed;
	top: 45px;
	z-index: 5;
}

.success {
	-moz-box-shadow: 0 0 15px #003300;
	-ms-box-shadow: 0 0 15px #003300;
	-o-box-shadow: 0 0 15px #003300;
	-webkit-box-shadow: 0 0 15px #003300;
	background: #00FF66;
	border: 1px solid #003300;
	border-radius: 5px;
	box-shadow: 0 0 15px #003300;
	color: #000000;
	display: inline-block;
	font-size: 13px;
	font-weight: bolder;
	margin: 0px auto 0px auto;
	padding: 5px 25px 5px 25px;
	position: fixed;
	top: 45px;
	z-index: 5;
}

/**
 * jQuery UI auto-suggest list styles
 * ------------------------------------
*/

ul.ui-autocomplete li a {
	cursor: pointer;
	height: 57px;
	position: relative;
}

ul.ui-autocomplete li a img {
	max-height: 50px;
}

ul.ui-autocomplete li a span.title {
	left: 50px;
	padding-top: 0px;
	position: absolute;
	top: 0px;
}

ul.ui-autocomplete li a span.author {
	left: 50px;
	max-width: 130px;
	position: absolute;
	top: 12px;
}

ul.ui-autocomplete li a span.total {
	left: 50px;
	position: absolute;
	top: 37px;
}

/**
 * Book exchange category flyout
 * ------------------------------------
*/

div.menuWrapper {
	display: inline-block;
	float: left;
	height: 42px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 200px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
}

ul.categoryFly {
	background: #FFFFFF;
	border: 1px solid #000000;
	color: #7B8084;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
	padding: 0px;
	width: 198px;
}

ul.categoryFly li {
	display: table-cell;
	vertical-align: top;
}

ul.categoryFly li ul {
	display: inline-block;
	margin: 0px;
	list-style: none;
	padding: 0px;
}

ul.categoryFly li ul li {
	cursor: pointer;
	display: none;
}

ul.categoryFly li ul li.selected {
	display: list-item;
}

ul.categoryFly li ul li span.band {
	border-left-style: solid;
	border-left-width: 50px;
	display: block;
	height: 40px;
	width: 200px;
}

ul.categoryFly li ul li span.band span.icon {
	background-repeat: no-repeat;
	background-position: 9px 6px;
	display: block;
	height: 40px;
	margin-left: -50px;
	padding: 11px 0px 0px 55px;
	width: 200px;
}

ul.categoryFly li ul li.all span.band span.icon {
	background-position: 9px 4px;
}

ul.categoryFly.open li ul li.selected {
	background: #BADFF5;
	display: list-item;
}

ul.categoryFly.open li ul li:hover {
	background: #EEEEEE;
}

/**
 * Unordered list of book categories
 * ------------------------------------
*/

ul.listing {
	list-style: none;
	padding: 0px;
}

ul.listing li {
	display:inline-block;
	padding-bottom: 15px;
	width: 320px;
}

ul.listing li img {
	display:inline;
	float: left;
}

ul.listing li a.title {
	color: #3D3D3D;
	display: inline-block;
	font-weight: bold;
	padding: 7px 0px 0px 5px;
	vertical-align: top;
}

ul.listing li span.description {
	display: inline-block;
	float: right;
	font-size: 11px;
	padding-top: 7px;
	vertical-align: top;
	width: 187px;
}

ul.listing li a.buttonLink, ul.listing li span.buttonLink {
	float: left;
	margin-left: 4px;
}

/**
 * Category header setup
 * ------------------------------------
*/

header.styled {
	border-top-style: solid;
	border-top-width: 5px;
}

header.styled h1 {
	border-style: solid;
	border-width: 5px;
	color: #3D3D3D;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 10px 10px 300px;
}

header.styled.noSide h1 {
	padding-left: 10px;
}

header.styled.all {
	border-top-color: #000000;
}

header.styled.all h1 {
	background: url(../images/icons/book.png) no-repeat #5C5C5C;
	background-position: 7px 6px;
	border-color: #3D3D3D;
	color: #FFFFFF;
	padding-left: 70px;
}

header.styled.all h2 {
	color: #FFFFFF;
}

header.styled h2 {
	color: #3D3D3D;
	font-weight: lighter;
	margin: 17px 0px 15px 0px;
	position: absolute;
	right: 11.5%;
	top: 138px;
}