/**
 * Global module styles
 * ------------------------------------
*/

a.buttonLink, span.buttonLink {
	background-color: #999999;
	color: #FFFFFF;
	display: inline-block;
	font-size: 11px;
	margin-top: 17px;
	max-width: 187px;
	padding: 3px 1px 3px 1px;
	vertical-align: top;
	width: auto;
}

a.buttonLink:active {
	color: #FFFFFF;
}

a.buttonLink:hover {
	color: #FFFFFF;
}

a.buttonLink:visited {
	color: #FFFFFF;
}

a.buttonLink span, span.buttonLink span {
	border: 1px solid #FFFFFF;
	padding: 1px 3px 1px 3px;
}

a.buttonLink span:hover {
	background: #33CCFF;
}

span.title {
	display: block;
	font-size: 13px;
	font-weight: bold;
	max-width: 130px;
	overflow: hidden;
	padding-top: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

span.details {
	font-size: 10px;
	max-width: 170px;
	overflow: hidden;
	padding-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tooltip {
	-moz-box-shadow: 0 0 10px #000000;
	-ms-box-shadow: 0 0 10px #000000;
	-o-box-shadow: 0 0 10px #000000;
	-webkit-box-shadow: 0 0 10px #000000;
    background-color: #000000;
    border: 1px solid #FFFFFF;
	box-shadow: 0 0 10px #000000;
	color: #FFFFFF;
	display: none;
	font-size: 12px;
    padding: 10px 15px;
    width: 200px;
    text-align: left;
	z-index: 10;
}

/**
 * Book exchange main page header
 * ------------------------------------
*/

section.header div.tools {
	background: #3D3D3D;
	padding: 25px 25px 20px 25px;
	width: 200px;
}

section.header div.tools button {
	width: 100%;
}

div.tools h2.search {
	color: #FFFFFF;
	font-size: 16px;
	margin: 20px 0px 5px 0px;
}

section.header div.tools input {
	width: 168px;
}

section.header div.tools div.controls {
	clear: both;
	overflow: auto;
	width: 100%;
}

section.header div.tools div.controls button {
	margin-top: 6px;
}

section.header div.linkbar {
	background-color: #EEEEEE;
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	border-top: 5px solid #3D3D3D;
}

/**
 * Book exchange category flyout
 * ------------------------------------
*/

div.menuWrapper {
	display: inline-block;
	float: left;
	height: 42px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
	margin: 0px;
	overflow: hidden;
	padding: 0px;
	width: 200px; /* Extra 2 px to compensate for the 1 px border around the unordered list */
}

ul.categoryFly {
	background: #FFFFFF;
	border: 1px solid #000000;
	display: inline-block;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin: 0px;
	list-style: none;
	overflow: hidden;
	padding: 0px;
	width: 198px;
}

ul.categoryFly li {
	display: table-cell;
	vertical-align: top;
}

ul.categoryFly li ul {
	display: inline-block;
	margin: 0px;
	list-style: none;
	padding: 0px;
}

ul.categoryFly li ul li {
	cursor: pointer;
	display: none;
}

ul.categoryFly li ul li.selected {
	display: list-item;
}

ul.categoryFly li ul li span.band {
	border-left-style: solid;
	border-left-width: 50px;
	display: block;
	height: 40px;
	width: 200px;
}

ul.categoryFly li ul li span.band span.icon {
	background-repeat: no-repeat;
	background-position: 9px 6px;
	display: block;
	height: 40px;
	margin-left: -50px;
	padding: 11px 0px 0px 55px;
	width: 200px;
}

ul.categoryFly li ul li.all span.band span.icon {
	background-position: 9px 4px;
}

ul.categoryFly.open li ul li.selected {
	background: #BADFF5;
	display: list-item;
}

ul.categoryFly.open li ul li:hover {
	background: #EEEEEE;
}

/**
 * Category menu listing
 * ------------------------------------
*/

aside.categories {
	border-right: 4px double #EDEDED;
	width: 246px;
}

aside.categories h2 {
	font-size: 21px;
	font-weight: lighter;
	margin-bottom: 5px;
}

aside.categories button {
	font-size: 14px;
	width: 190px;
}

aside.categories ul {
	list-style: none;
	padding: 0px;
	margin-top: 10px;
}

aside.categories ul li {
	font-weight: bold;
	padding: 13px 0px 13px 0px;
	border-bottom: 1px solid #EDEDED;
	vertical-align: top;
}

aside.categories ul li a.name {
	display: block;
	vertical-align: top;
}

aside.categories ul li a.name span.icon {
	display: inline-block;
	height: 34px;
	margin: 0px 7px 0px -50px;
	padding: 6px 5px 0px 0px;
	text-align: right;
	width: 85px;
}

aside.categories ul li a.name span.text {
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

/**
 * Sell books dialog suggestion
 * ------------------------------------
*/

section.dialog div.content {
	overflow: hidden;
}

section.dialog div.content div h2 {
	margin-top: 0px;
}

section.dialog div.content div p {
	font-size: 16px;
	font-weight: bold;
	margin: 0px 0px 25px 0px;
	padding-top: 10px;
}

section.dialog div.content div {
	display: inline-block;
	max-width: 23%;
	padding-right: 15px;
	vertical-align: top;
}

section.dialog div.content div span {
	display: block;
	font-size: 12px;
	padding-bottom: 7px;
}

section.dialog div.content div.imagePreview {
	background: url(../images/icons/sub_steps.png) no-repeat;
	background-position: -79px 7px;
	padding-left: 50px;
}

section.dialog div.content div.imagePreview img {
	max-width: 130px;
}

section.dialog div.content div.bookInfo {
	background: url(../images/icons/sub_steps.png) no-repeat;
	background-position: -39px -48px;
	padding-left: 50px;
}

section.dialog div.content div.classInfo {
	background: url(../images/icons/sub_steps.png) no-repeat;
	background-position: 0px -102px;
	max-height: 282px;
	max-width: none;
	overflow: hidden;
	padding-left: 55px;
	width: 260px;
}

section.dialog div.content div.classInfo:hover {
	overflow-y: auto;
}

section.dialog div.content div.classInfo span.class {
	background: #FFFFFF;
	border: 1px solid #000000;
	color: #7B8084;
	cursor: pointer;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin: 0px;
	padding: 0px;
	width: 248px;
}

section.dialog div.content div.classInfo span.class:hover {
	background: #EEEEEE;
}

section.dialog div.content div.classInfo span.class.selected {
	background: #B8FEBA url(../images/icons/selected_course.png) no-repeat top right;
}

section.dialog div.content div.classInfo span.class span.band {
	border-left-style: solid;
	border-left-width: 50px;
	display: block;
	height: 33px;
	width: 250px;
}

section.dialog div.content div.classInfo span.class span.band span.icon {
	background-repeat: no-repeat;
	background-position: 9px 6px;
	display: block;
	height: 40px;
	margin-left: -50px;
	padding: 11px 0px 0px 55px;
	width: 250px;
}

section.dialog div.buttons button {
	margin-left: 10px;
	width: 215px;
}

/**
 * Sell books header
 * ------------------------------------
*/

header.styled.sell {
	border-top-color: #009972;
}

header.styled.sell h1 {
	background: #66C2AA;
	border-color: #33AD8E;
	color: #FFFFFF;
	padding-left: 260px;
}

/**
 * Sell books preview sidebar
 * ------------------------------------
*/

aside.preview {
	border-right: 4px double #EDEDED;
	height: 100%;
	float: left;
	position: relative;
	width: 260px;
}

aside.preview section.bookPreview {
	background: #3D3D3D;
	color: #FFFFFF;
	float: left;
	margin: -45px 0px 0px 10px;
	padding: 15px;
	position: relative;
	width: 200px;
}

aside.preview section.bookPreview div.imageContainer {
	background: #CCCCCC;
	color: #000000;
	padding: 5px;
	min-height: 125px;
	margin: 0px auto 15px auto;
	max-width: 130px;
	text-align: center;
	vertical-align: middle;
}

aside.preview section.bookPreview div.imageContainer p {
	display: block;
	font-size: 14px;
	margin: 0px;
	padding: 45px 0px 45px 0px;
}

aside.preview section.bookPreview div.imageContainer img {
	max-width: 130px;
}

aside.preview section.bookPreview div.imageBrowser {
	padding-bottom: 10px;
	text-align: center;
}

aside.preview section.bookPreview div.imageBrowser span.back {
	background: url(../images/icons/navigation_buttons.png) no-repeat;
	background-position: -23px -23px;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	width: 23px;
}

aside.preview section.bookPreview div.imageBrowser span.back:hover {
	background-position: -46px -23px;
}

aside.preview section.bookPreview div.imageBrowser span.back:active {
	background-position: -69px -23px;
}

aside.preview section.bookPreview div.imageBrowser span.back.disabled {
	background-position: 0px -23px;
	cursor: default;
}

aside.preview section.bookPreview div.imageBrowser span.back.disabled:hover {
	background-position: 0px -23px;
}

aside.preview section.bookPreview div.imageBrowser span.back.disabled:active {
	background-position: 0px -23px;
}

aside.preview section.bookPreview div.imageBrowser span.forward {
	background: url(../images/icons/navigation_buttons.png) no-repeat;
	background-position: -23px 0px;
	cursor: pointer;
	display: inline-block;
	height: 23px;
	width: 23px;
}

aside.preview section.bookPreview div.imageBrowser span.forward:hover {
	background-position: -46px 0px;
}

aside.preview section.bookPreview div.imageBrowser span.forward:active {
	background-position: -69px 0px;
}

aside.preview section.bookPreview div.imageBrowser span.forward.disabled {
	background-position: 0px 0px;
	cursor: default;
}

aside.preview section.bookPreview div.imageBrowser span.forward.disabled:hover {
	background-position: 0px 0px;
}

aside.preview section.bookPreview div.imageBrowser span.forward.disabled:active {
	background-position: 0px 0px;
}

aside.preview section.bookPreview span.titlePreview {
	display: block;
	font-size: 15px;
	font-weight: bold;
}

aside.preview section.bookPreview span.details {
	display: block;
}

/**
 * Sell books main content
 * ------------------------------------
*/

section.sell {
	border-left: 4px double #EDEDED;
	margin-left: 260px;
	padding-left: 15px;
	width: auto;
}

/* Using the direct child operator, so that no <div> with the targeted <div> is styled */
section.sell > div {
	background: url(../images/icons/steps.png) no-repeat;
	padding-left: 60px;
}

section.sell div h2 {
	font-size: 18px;
	padding-top: 18px;
}

section.sell div.bookInformationSection {
	background-position: -109px 0px;
}

section.sell div.courseInformationSection {
	background-position: -55px -55px;
}

section.sell div.courseInformationSection div.classTableHeader {
	font-weight: bold;
	padding-top: 5px;
}

section.sell div.courseInformationSection div.classTableHeader span.className {
	padding-left: 50px;
}

section.sell div.courseInformationSection div.classTableHeader span.classNum {
	padding-left: 85px;
}

section.sell div.courseInformationSection div.classTableHeader span.classSec {
	padding-left: 35px;
}

section.sell div.courseInformationSection div.classUsed {
	border-top: 1px solid #CCCCCC;
	height: 42px;
	padding: 7px 0px 7px 0px;
	vertical-align: middle;
}

section.sell div.courseInformationSection div.classUsed div.inputWrapper {
	padding-left: 55px;
	width: 27px;
}

section.sell div.courseInformationSection div.classUsed div.inputWrapper input {
	margin: 10px 0px 0px 10px;
	width: 27px;
}

section.sell div.courseInformationSection div.classUsed div.dropdownWrapper {
	display: inline-block;
	padding: 10px 0px 0px 100px;
}

section.sell div.courseInformationSection div.classUsed span.delete {
	background: url(../images/icons/delete.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	float: right;
	height: 19px;
	margin: 12px 10px 0px 0px;
	width: 19px;
}

section.sell div.courseInformationSection span.add {
	background: url(../images/icons/add.png) no-repeat left bottom;
	display: inline-block;
	cursor: pointer;
	padding: 5px 0px 0px 25px;
}

section.sell div.userInformationSection {
	background-position: 0px -109px;
}

section.sell div.userInformationSection table tbody tr td.price span.align {
	display: inline-block;
	padding-top: 6px;
}

section.sell div.userInformationSection table tbody tr td.price input {
	width: 47px;
}

section.sell div.userInformationSection table tbody tr td.containsMenu div {
	display: block;
}

section.sell div.userInformationSection table tbody tr.editor td.description {
	padding-top: 5px;
	vertical-align: top;
}

section.sell div.userInformationSection table tbody tr.editor td textarea {
	width: 450px;
}

/**
 * Unordered list of book categories
 * ------------------------------------
*/

ul.listing {
	list-style: none;
	padding: 0px;
}

ul.listing li {
	display:inline-block;
	padding-bottom: 15px;
	width: 320px;
}

ul.listing li img {
	display:inline;
	float: left;
}

ul.listing li a.title {
	color: #3D3D3D;
	display: inline-block;
	font-weight: bold;
	padding: 7px 0px 0px 5px;
	vertical-align: top;
}

ul.listing li span.description {
	display: inline-block;
	float: right;
	font-size: 11px;
	padding-top: 7px;
	vertical-align: top;
	width: 187px;
}

ul.listing li a.buttonLink, ul.listing li span.buttonLink {
	float: left;
	margin-left: 4px;
}

/**
 * Category header setup
 * ------------------------------------
*/

header.styled {
	border-top-style: solid;
	border-top-width: 5px;
	margin-top: -10px;
	position: relative;
}

header.styled h1 {
	border-style: solid;
	border-width: 5px;
	color: #3D3D3D;
	font-size: 24px;
	font-weight: bold;
	margin: 0px;
	padding: 10px 10px 10px 300px;
}

header.styled.all {
	border-top-color: #000000;
}

header.styled.all h1 {
	background: url(../images/icons/book.png) no-repeat #5C5C5C;
	background-position: 7px 6px;
	border-color: #3D3D3D;
	color: #FFFFFF;
	padding-left: 70px;
}

header.styled.all h2 {
	color: #FFFFFF;
}

header.styled h2 {
	color: #3D3D3D;
	font-weight: lighter;
	margin: 17px 0px 15px 0px;
	position: absolute;
	right: 15px;
	top: 0px;
}

/**
 * Category information sidebar
 * ------------------------------------
*/

aside.info {
	border-right: 4px double #EDEDED;
	height: 100%;
	float: left;
	position: relative;
	width: 290px;
}

aside.info img.icon {
	background: #3D3D3D;
	margin: -45px 0px 0px 12px;
	padding: 10px 7px 0px 7px;
	z-index: 500;
}

aside.info h2 {
	font-weight: lighter;
}

aside.info ul {
	list-style: none;
	padding: 0px 0px 30px 2px;
}

aside.info ul li {
	clear: both;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

aside.info ul li img {
	display: inline;
	float: left;
	max-width: 60px;
	padding-right: 5px;
}

aside.info ul li span.details {
	display: block;
}

aside.info ul.moreListings {
	padding-left: 10px;
}

aside.info ul.moreListings li a {
	display: block;
	width: 100%;
}

aside.info ul.moreListings li a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 3px;
}

/**
 * Main cateogry listing content
 * ------------------------------------
*/

section.listing {
	border-left: 4px double #EDEDED;
	margin-left: 290px;
	padding-left: 15px;
	width: auto;
}

section.listing article.description {
	border-bottom: 4px double #EDEDED;
	margin-left: -15px;
	padding: 0px 0px 7px 15px;
}

section.listing article.description section.article {
	max-height: 350px;
	overflow: hidden;
	position: relative;
}

section.listing article.description section.article.loading {
	background: url(../images/icons/loading.gif) no-repeat center;
	height: 50px;
}

section.listing article.description section.article::after {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    bottom: 0;
    content: '';
	height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

section.listing article.description a.buttonLink {
	float: right;
	margin-top: 5px;
}

section.listing article.description section.disclaimer {
	font-size: 10px;
	padding-top: 35px;
}

/**
 * Book listing by class and section 
 * letter
 * ------------------------------------
*/

section.listing section.books section.courses h2 {
	font-weight: lighter;
	margin: 30px 0px 5px 0px;
}

section.listing section.books section.courses ul {
	display: block;
	list-style: none;
	min-height: 150px;
	padding: 5px 0px 5px 0px;
	width: 100%;
}
section.listing section.books section.courses ul li {
	display: table-cell;
	height: 100%;
	max-width: 130px;
	padding: 0px 20px 0px 15px;
	vertical-align: top;
}

section.listing section.books section.courses ul li:first-child {
	border-right: 1px solid #999999;
	font-weight: bold;
	height: 100%;
	padding-right: 0px;
	width: 30px;
}

section.listing section.books section.courses ul li img {
	display: block;
	margin: 0px;
	max-width: 100px;
}

section.listing section.books section.courses ul li span.details {
	max-width: 130px;
}

section.listing section.books section.empty {
	height: 200px;
}