/**
 * Sort by bar
 * ------------------------------------
*/

div.sort {
	background: #EEEEEE;
	border: 1px solid #CCCCCC;
	margin-top: 10px;
	padding: 5px;
	text-align: right;
}

div.sort span, div.sort form {
	display: inline;
}

/**
 * Category information sidebar
 * ------------------------------------
*/

aside.info {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	width: 290px;
	z-index: 2;
}

aside.info img.icon {
	background: #3D3D3D;
	margin: -45px 0px 0px 12px;
	padding: 10px 7px 0px 7px;
	z-index: 500;
}

aside.info h2 {
	font-weight: lighter;
}

aside.info form span.expand {
	background: url(../images/icons/expand.png) no-repeat left;
	background-position: 0px 3px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	margin: 2px 0px 2px 1px;
	padding: 3px 0px 4px 20px;
}

aside.info form span.expand:hover {
	background-position: 0px -19px;
}

aside.info form div.controls {
	padding: 7px 0px 7px 0px;
}

aside.info form div.controls span.step {
	display: inline-block;
	font-size: 14px;
	padding-top: 4px;
	vertical-align: top;
}

aside.info > ul {
	list-style: none;
	padding-left: 2px;
}

aside.info > ul li {
	clear: both;
	display: block;
	padding-bottom: 20px;
	overflow: auto;
}

aside.info > ul li img {
	display: inline;
	float: left;
	max-width: 60px;
	padding-right: 5px;
}

aside.info > ul li a.title {
	display: block;
	max-width: 200px;
	padding-top: 0px;
	width: 200px;
}

aside.info > ul li span.details {
	display: block;
	max-width: 200px;
	width: 200px;
}

aside.info ul.moreListings {
	padding-left: 10px;
}

aside.info ul.moreListings li a {
	display: block;
	width: 100%;
}

aside.info ul.moreListings li a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding-left: 3px;
}

/**
 * Main cateogry listing content
 * ------------------------------------
*/

section.listing {
	border-left: 4px double #EDEDED;
	margin-left: 290px;
	padding-left: 15px;
	width: auto;
}

section.listing.noSide {
	border-left: none;
	margin: 0px;
	padding: 0px;
}

section.listing article.description {
	border-bottom: 4px double #EDEDED;
	margin-left: -15px;
	padding: 0px 0px 7px 15px;
}

section.listing article.description section.article {
	max-height: 350px;
	overflow: hidden;
	position: relative;
}

section.listing article.description section.article.loading {
	background: url(../images/icons/loading.gif) no-repeat center;
	height: 50px;
}

section.listing article.description section.article::after {
    background-image: -moz-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -ms-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: -o-linear-gradient(rgba(255, 255, 255, 0), white);
	background-image: -webkit-linear-gradient(rgba(255, 255, 255, 0), white);
    background-image: linear-gradient(rgba(255, 255, 255, 0), white);
    bottom: 0;
    content: '';
	height: 30px;
    left: 0;
    position: absolute;
    right: 0;
}

section.listing article.description a.buttonLink {
	float: right;
	margin-top: 5px;
}

section.listing article.description section.disclaimer {
	font-size: 10px;
	padding-top: 35px;
}

/**
 * Book listing by class and section 
 * letter
 * ------------------------------------
*/

section.listing section.empty {
	font-weight: bolder;
	padding: 30px 20px 45px 20px;
	text-align: center;
}

section.listing section.books section.courses h2 {
	font-weight: lighter;
	margin: 5px 0px 5px 0px;
}

section.listing section.books section.courses:first-child h2 {
	margin-top: 30px;
}

section.listing section.books section.courses ul {
	display: block;
	list-style: none;
	min-height: 150px;
	min-width: 30px;
	overflow: hidden;
	padding: 5px 0px 25px 0px;
	width: 100%;
}

section.listing section.books section.courses ul li {
	display: table-cell;
	height: 100%;
	max-width: 130px;
	min-width: 130px;
	padding: 0px 0px 0px 15px;
	vertical-align: bottom;
}

section.listing section.books section.courses ul li:first-child {
	padding-left: 0px;
}

section.listing section.books section.courses ul li.section {
	border-right: 1px solid #999999;
	font-weight: bold;
	height: 100%;
	max-width: 30px;
	padding: 0px 0px 0px 15px;
	vertical-align: top;
	width: 30px;
}

section.listing section.books section.courses ul li img {
	display: block;
	margin: 0px;
	max-width: 100px;
}

section.listing section.books section.courses ul li span.details {
	max-width: 130px;
}

section.listing section.books section.courses ul.viewAll li {
	display: inline-block;
	padding: 0px 15px 35px 0px;
}

section.listing section.books section.courses > a {
	display: block;
	margin-left: 61px;
	padding: 0px 0px 10px 0px;
	text-align: right;
}

section.listing section.books section.courses > a span.arrow {
	font: "Helvetica Narrow", "Arial Narrow", Tahoma, Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 3px;
}

section.listing section.books section.empty {
	height: 200px;
}

/**
 * Purchase book dialog
 * ------------------------------------
*/

section.purchase div.loading {
	color: #CCCCCC;
	font-size: 36px;
	padding: 60px 20px 45px 20px;
	text-align: center;
}

section.purchase aside.bookInfo {
	border-right: 4px double #EDEDED;
	float: left;
	height: 100%;
	overflow-y: auto;
	padding-right: 15px;
	width: 250px;
}

section.purchase aside.bookInfo div.cover {
	padding-bottom: 25px;
	text-align: center;
}

section.purchase aside.bookInfo div.cover img {
	max-height: 200px;
}

section.purchase aside.bookInfo span.previewTitle {
	color: #333333;
	display: block;
	font-weight: bold;
}

section.purchase aside.bookInfo span.buttonLink {
	font-size: 20px;
	margin: 5px 0px 20px 0px;
	padding-bottom: 2px;
}

section.purchase aside.bookInfo span.previewDetails {
	color: #7B8084;
	display: block;
	font-size: 14px;
	padding-bottom: 5px;
}

section.purchase section.main {
	background: url(../images/icons/tips.png) no-repeat bottom right;
	border-left: 4px double #EDEDED;
	margin-left: 265px;
	min-height: 100%;
	padding-left: 15px;
	width: auto;
}

section.purchase section.main div.userInfo {
	border: 1px solid #DDDDDD;
}

section.purchase section.main div.userInfo {
	margin: 0px auto 0px auto;
	width: 300px;
}

section.purchase section.main div.userInfo h2 {
	background: #DDDDDD;
	color: #333333;
	font-size: 16px;
	margin: 2px 2px 0px 2px;
}

section.purchase section.main div.userInfo div {
	background: url(../images/icons/avatar.jpg) #EEEEEE no-repeat left;
	height: 85px;
	padding-left: 90px;
	margin: 0px 2px 2px 2px;
}

section.purchase section.main div.userInfo div span {
	display: block;
	font-size: 14px;
	padding: 5px 0px 5px 0px;
}

section.purchase section.main > h2 {
	border-bottom: 1px solid #333333;
	font-size: 16px;
	margin: 10px 0px 10px 0px;
}

section.purchase section.main div.comments {
	font-size: 14px;
}

section.purchase section.main div.comments p {
	margin: 0px;
}

section.purchase section.main div.classes ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}

section.purchase section.main div.classes ul li {
	display: inline-block;
	padding: 5px 10px 5px 0px;
}

section.purchase section.main div.classes ul li span.class {
	background: #FFFFFF;
	border: 1px solid #000000;
	color: #7B8084;
	display: block;
	font-size: 13px;
	font-weight: normal;
	height: 40px;
	margin: 0px;
	padding: 0px;
	width: 248px;
}

section.purchase section.main div.classes ul li span.class span.band {
	border-left-style: solid;
	border-left-width: 50px;
	display: block;
	height: 40px;
	width: 250px;
}

section.purchase section.main div.classes ul li span.class span.band span.icon {
	background-repeat: no-repeat;
	background-position: 9px 6px;
	display: block;
	height: 40px;
	margin-left: -50px;
	padding: 11px 0px 0px 55px;
	width: 250px;
}

section.confirm span {
	 float: left;
	 margin: 5px 7px 100px 0px;
}