/**
 * Global declarations
 * ------------------------------------------
 */

body {
	color: #7B8084;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
	padding: 0px;
}

img {
	border: none;
}

a, a:visited {
	color: #7B8084;
	text-decoration: none;	
}

a:hover {
	color: #44BBFF;
}

a:active {
	color: #C36;
}

/**
 * Common styles
 * ------------------------------------------
 */

a.highlight {
	color: #44BBFF;
	text-decoration: none;	
}

a.highlight:active {
	color: #C36;
}

h2.red {
	background: #FDEBF3;
	border-left: 4px solid #EDDBE3;
	color: #F49AC1;
	padding-left: 5px;
}

h2.orange {
	background: #FDF0D5;
	border-left: 4px solid #FCE4B3;
	color: #F7B42C;
	padding-left: 5px;
}

h2.blue {
	background: #E9F7FB;
	border-left: 4px solid #D7F0F8;
	color: #90D5EC;
	padding-left: 5px;
}

h2.green {
	background: #EEF6DC;
	border-left: 4px solid #E0EFC0;
	color: #AAD450;
	padding-left: 5px;
}

/**
 * Login and sign-up panel
 * ------------------------------------------
 */

section.login {
	background: #000000;
	clear: both;
	display: none;
	font-size: 12px;
	height: 275px;
	padding: 10px 10% 10px 10%;
}

section.login div.left {
	background: #000000;
	float: left;
	width: 33%;
}

section.login div.center {
	background: #000000;
	float: left;
	height: 275px;
	padding-left: 3%;
	width: 30%;
}

section.login div.center h2 {
	color: #AAD450;
	font-size: 14px;
	text-align: center;
}

section.login div.right {
	background: #000000;
	float: left;
	height: 275px;
	padding-left: 3%;
	width: 30%;
}

section.login div.right h2 {
	color: #F49AC1;
	font-size: 14px;
	text-align: center;
}

/**
 * Header bar
 * ------------------------------------------
 */

nav.main {
	background: #F5F5F5;
	background-image: url(../images/ribbon.png);
	background-image: url(../images/ribbon.png), -webkit-gradient(linear, top, bottom, from(#FAFAFA), to(#F5F5F5));
	background-image: url(../images/ribbon.png), -webkit-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -moz-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -ms-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), -o-linear-gradient(top, #FAFAFA, #F5F5F5);
	background-image: url(../images/ribbon.png), linear-gradient(top, #FAFAFA, #F5F5F5);
	background-repeat: repeat-x;
	border-bottom: 1px solid #D8DDE1;
	display: block;
	filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr=#FAFAFA, EndColorStr=#F5F5F5)";
	padding-top: 19px;
	position: relative;
	width: 100%;
}

nav.main ul.nav {
	font-weight: bolder;
	margin: 0px;
	padding: 0px 10% 0px 10%;
}

nav.main ul.nav li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
}

nav.main ul.nav li {
	display: inline-block;
	list-style: none;
	margin: 0px;
	padding: 0px 10px 0px 10px;
	vertical-align: middle;
}

nav.main ul.nav li a.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	padding-left: 17px;
}

nav.main ul.nav li a.locked:hover {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -29px;
	padding-left: 17px;
}

nav.main ul.nav li a.locked:active {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -58px;
	padding-left: 17px;
}

nav.main ul.nav li.logo {
	padding: 0px 10px 0px 0px;
}

/**
 * Login flag
 * ------------------------------------------
 */

nav.main section.flag {
	position: absolute;
	right: 6%;
	top: 0px;
}

nav.main section.flag img {
	cursor: pointer;
}

/**
 * Breadcrumb
 * ------------------------------------------
 */
 
nav.main ul.breadcrumb {
	border-top: 1px solid #D8DDE1;
	background-color: #FCFCFC;
	font-size: 11px;
	margin: 0px;
	padding: 0px;
}

nav.main ul.breadcrumb li:first-child {
	padding-left: 10%;
}

nav.main ul.breadcrumb li {
	display: inline-block;
	margin-bottom: 5px;
	margin-top: 5px;
}

nav.main ul.breadcrumb li a {
	background: url(../images/divider.png) no-repeat right;
	color: #44BBFF;
	padding-bottom: 5px;
	padding-right: 12px;
	padding-top: 5px;
}

/**
 * Main content
 * ------------------------------------------
 */

h1.title {
	font-size: 24px;
	margin-bottom: 0px;
	padding-left: 10%;
}

section.body {
	padding: 10px 0px 10px 10%;
	width: 80%;
}

section.body.left {
	float: left;
	padding: 10px 0px 10px 10%;
	width: 54%;
}

section.body.right {
	float: right;
	padding: 10px 10% 10px 0px;
	width: 54%;
}

/**
 * Sidebar
 * ------------------------------------------
 */

aside.sidebar.left {
	float: left;
	font-size: 13px;
	padding: 10px 0px 10px 10%;
	width: 23%;
}

aside.sidebar.right {
	float: right;
	font-size: 13px;
	padding: 10px 10% 10px 0px;
	width: 23%;
}

/**
 * Navigation within the sidebar
 * ------------------------------------------
 */
 
aside.sidebar section.menu li {
	border-bottom: 1px solid #D8DDE1;
	color: #44BBFF;
	list-style-type: square;
}

aside.sidebar section.menu li:hover {
	border-bottom: 1px solid #44BBFF;
}

aside.sidebar section.menu li:active {
	border-bottom: 1px solid #C36;
	color: #C36;
}

aside.sidebar section.menu li a {
	display: block;
	padding: 5px 0px 5px 0px;
}

aside.sidebar section.menu li.up {
	color: #C36;
}

aside.sidebar section.menu li.up:hover {
	color: #44BBFF;
}

aside.sidebar section.menu li.up:active {
	color: #C36;
}


/**
 * Footer common styles
 * ------------------------------------------
 */

footer section.main {
	background: #F0F1F4;
	border-bottom: 1px solid #D8DDE1;
	border-top: 1px solid #D8DDE1;
	overflow: hidden;
	padding: 10px 10% 10px 10%;
	width: 80%;
}

footer section.main nav a {
	color: #000000;
	font-size: 14px;
}

footer section.main nav a:hover {
	color: #44BBFF;
}

footer section.main nav a:active {
	color: #C36;
}

/**
 * Footer link list
 * ------------------------------------------
 */

footer section.main nav ul {
	color: #000000;
	display: table;
	float: left;
	list-style: none;
	padding-left: 0px;	
	table-layout: fixed;
	width: 75%;
}

footer section.main nav ul li {
	display: table-cell;
	vertical-align: top;
	width: auto;
}

footer section.main nav ul li ul {
	padding-left: 0px;	
}

footer section.main nav ul li ul li {
	display: list-item;
	padding: 5px 0px 5px 0px;
}

footer section.main nav ul li ul li:first-child {
	font-weight: bolder;
	padding: 0px 0px 15px 0px;
}

footer section.main nav ul li ul li a.red {
	color: #F27490;
	font-size: 16px;
}

footer section.main nav ul li ul li a.red.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -87px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.red.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.red.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.orange {
	color: #F7B42C;
	font-size: 16px;
}

footer section.main nav ul li ul li a.orange.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -116px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.orange.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.orange.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.blue {
	color: #4BF;
	font-size: 16px;
}

footer section.main nav ul li ul li a.blue.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -29px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.blue.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.blue.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a.green {
	color: #AAD450;
	font-size: 16px;
}

footer section.main nav ul li ul li a.green.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -145px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.green.locked:hover {
	background-position: 0px -29px;
}

footer section.main nav ul li ul li a.green.locked:active {
	background-position: 0px -58px;
}

footer section.main nav ul li ul li a:hover {
	color: #44BBFF;
}

footer section.main nav ul li ul li a:active {
	color: #C36;
}

footer section.main nav ul li ul li a.locked {
	background: url(../images/lock_sprite.png) no-repeat;
	background-position: 0px -172px;
	margin-left: -17px;
	padding-left: 17px;
}

footer section.main nav ul li ul li a.locked:hover {
	background-position: 0px -201px;
}

footer section.main nav ul li ul li a.locked:active {
	background-position: 0px -230px;
}

/**
 * About us box
 * ------------------------------------------
 */

footer section.main section {
	background: #FBFBFC;
	border: 1px solid #D8DDE1;
	float: right;
	padding: 20px;
	margin: 10px 0px 10px 0px;
	width: 20%;
}

footer section.main section h2 {
	margin: 0px;
	padding: 0px;
}

footer section.main section p.networking {
	margin-bottom: 0px;
}

/**
 * Absolute footer
 * ------------------------------------------
 */

footer section.footer {
	font-size: 12px;
	padding: 0px 10% 0px 10%;
}

footer section.footer p {
	color: #999999;
	float: left;
}

footer section.footer ul {
	float: right;
	list-style: none;
}

footer section.footer ul li {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}

footer section.footer ul li:last-child {
	padding-right: 0px;
}